{% extends 'base.html' %}

{% block content %}
{% comment %} <h1><u>MENU</u></h1>
<ul>
    {% for c in cuisine %}
    <li>{{c}}</li>
    {% endfor %}
</ul>
<ul>
    {% for food in foods  %}
     <li>{{food.name}}</li>
    {% endfor %}
</ul> {% endcomment %}
<div class="container">
    <div class="row">
        {% for food in foods  %}
        <div class="col-md-3 col-6">
            <div class="card">
                <img src="{{food.image.url}}" alt="" class="card-top-img" height="140px" >
                <div class="card-body" >
                    <h5 class="h5">{{food.name}}</h5>
                    <p class="card-text">Rs-/{{food.price}}</p>
                    <a href="{%url 'details' food.id%}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}